@use "sass:math";

$prefix-cls: vv-popover;

$position-offset: -20px;

.#{$prefix-cls} {
  position: relative;
  background-color: #fff;
  display: inline-flex;

  &-top {
    left: 50%;
    top: -100%;
    transform: translateX(-50%);
  }

  &-right {
  }

  &-bottom {
    left: 50%;
    transform: translateX(-50%);
    bottom: $position-offset;
  }

  &-left {
  }

  &-container {
    position: absolute;
    left: 50%;
    top: -100%;
    transform: translate(-100%, -100%);
    min-height: 50px;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #bbb;
  }

  &-item {
    height: 20px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }
}
