# 整个流程的名字
name: Release
# 触发时机，在 tag 被 push 操作触发
on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write # Required for OIDC
  contents: read

# 任务，定义个changelog 的任务
jobs:
  changelog:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # # 设置 pnpm
      # - name: Setup PNPM
      #   uses: pnpm/action-setup@v2
      #   with:
      #     version: 8
      # 设置 Node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org

      - run: npm install -g npm@latest
      # 安装依赖
      - name: npm Install dependencies
        run: npm install

      - name: yarn Install dependencies
        run: yarn install

      # 获取 tag 的版本类型（仅支持 正式版、alpha和beta版）
      - name: Determine release tag
        id: determine_tag
        run: |
          TAG=$(echo "${GITHUB_REF}" | sed 's/refs\/tags\/\(.*\)/\1/')
          if [[ "$TAG" =~ -alpha ]]; then
            echo "tag=alpha" >> "$GITHUB_OUTPUT"
          elif [[ "$TAG" =~ -beta ]]; then
            echo "tag=beta" >> "$GITHUB_OUTPUT"
          elif [[ "$TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "tag=latest" >> "$GITHUB_OUTPUT"
          else
            echo "Unsupported version detected. Terminating."
            exit 1
          fi
      # # 打包
      # - name: Build Packages
      #   run: pnpm run build
      # 发布npm 发布前执行了prepublishOnly
      - name: Publish npm
        run: pnpm changeset publish --tag ${{ steps.determine_tag.outputs.tag }} --access public
